* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

.scene {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #0a0a0a;
  overflow: hidden;
  padding: 20px 40px;
}

.nigerian-flag {
  position: absolute;
  top: 30px;
  left: 20px;
  max-width: 90px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

.nigerian-flag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 135, 81, 0.4) */
  background-image: url("./shackles.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  border-radius: 4px;
}

.nigerian-flag div {
  width: 100%;
  height: 100%;
}

.green {
  background-color: #008751;
}

.white {
  background-color: #fff;
}

.window {
  position: relative;
  width: 350px;
  height: 450px;
  border: 10px solid #444;
  border-radius: 48% 48% 0 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    to bottom,
    #141313,
    #201815,
    #6c2f15,
    #a04e1e,
    #c56c22
  );
  overflow: hidden;
}

.curtain {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  border: 1px solid #444;
  background: linear-gradient(
    to bottom,
    #a62828 0%,
    #b13434 25%,
    #a62828 50%,
    #c03c3c 75%,
    #a62828 100%
  );
  opacity: 0.5;
}

.curtain::before {
  content: "";
  position: absolute;
  top: -300px;
  left: -350px;
  width: 450px;
  height: 800px;
  border: 1px solid white;
  transform: rotate(32deg);
  border-radius: 50% 40% 60% 30% / 60% 50% 70% 40%;
  background: linear-gradient(
    to bottom,
    rgba(166, 40, 40, 0.95) 0%,
    rgba(177, 52, 52, 0.92) 25%,
    rgba(166, 40, 40, 0.9) 50%,
    rgba(192, 60, 60, 0.88) 75%,
    rgba(166, 40, 40, 0.9) 100%
  );
  opacity: 1;

  z-index: 3;
}

.curtain::after {
  content: "";
  position: absolute;
  top: -300px;
  left: -350px;
  width: 450px;
  height: 600px;
  transform: rotate(32deg);
  border-radius: 50% 40% 60% 30% / 60% 50% 70% 40%;
  z-index: 3;
  pointer-events: none;
  background-image: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0.9) 9px,
    rgba(0, 0, 0, 0) 8px,
    rgba(0, 0, 0, 0) 11px,
    rgba(0, 0, 0, 0) 20px,
    rgba(0, 0, 0, 0.9) 10px,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0.9) 9px,
    rgba(0, 0, 0, 0) 8px
  );
  opacity: 0.3;
}

.flag {
  position: absolute;
  top: 50%;
  width: 250px;
  left: 50px;
  height: 120px;
  z-index: 1;
  display: flex;
  animation: sway 5s infinite ease-in-out;
}

.column {
  display: flex;
  flex-direction: column;
}

.flag-unit {
  width: 6px;
  height: 6px;
  animation: wave 1.5s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(
      calc(var(--displacement) * -2px),
      calc(var(--displacement) * -1px)
    );
  }

  75% {
    transform: translate(
      calc(var(--displacement) * 2px),
      calc(var(--displacement) * 2px)
    );
  }
}

@keyframes sway {
  0%,
  100% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

.text {
  width: 90%;
  margin: 30px auto 0;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.pride-text {
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  animation: shineFromShadows 6s ease-in-out infinite;
  background: linear-gradient(
    to right,
    #000000,
    #444,
    #f8b400,
    #fff,
    #f8b400,
    #444,
    #000000
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% auto;
}

@keyframes shineFromShadows {
  0%,
  100% {
    background-position: 0% center;
    opacity: 0.2;
  }
  50% {
    background-position: 100% center;
    opacity: 1;
  }
}
